.contact__social-icon {
  align-items: center;
  justify-content: space-between;
  width: 33%;
  max-width: 150px;
  display: none;
}

.contact__telephone {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .contact__social-icon {
    display: flex;
  }

  .contact__telephone {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .contact__telephone {
    font-size: 18px;
  }
}
