.evision {
  background-color: #161851;
  /*background-attachment: fixed;
  height: 100%;
  position: relative;*/
  position: relative;
  height: 100vh;
  //background: url("../img/bg.jpg") no-repeat center 0 / cover;
  background-attachment: fixed;

  &::after {
    /*content: "";*/
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url("../img/circle.png");
    width: 744px;
    min-height: 557px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-left: -372px;
    background-color: #161851;
    z-index: -1;
  }
}

.evision__smart {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  margin: 0;
}

.evision__list {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .evision__smart {
    font-size: 32px;
  }
}

@media (min-width: $desktop-width) {
  .evision__list {
    margin: 96px auto 0 auto;
    max-width: 790px;
  }

  .evision__smart {
    padding-top: 116px;
    font-size: 64px;
    line-height: 79px;
  }
}
