.header {
  background-color: #161851;
  background-attachment: fixed;
  height: 100%;
}

.header__wrap {
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 45%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
  width: 45%;
  max-width: 200px;
  justify-content: space-between;
  align-items: baseline;
  flex-shrink: 1;
}

@media (min-width: $tablet-width) {
  .header__menu {
    max-width: 250px;
    align-items: center;
  }

  .header__contact {
    max-width: 450px;
  }
}

@media (min-width: $desktop-width) {
  .header__menu {
    max-width: 270px;
  }

  .header__contact {
    max-width: 600px;
  }

  .header__wrap {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}
