.product__item {
  width: 80%;
}

.product__wrap-item {
  min-height: 420px;
  margin: 30px 15px;
  border: 1px solid #e8e8ee;
  text-align: center;
  padding: 10px 15px;
  background: navajowhite;
}

.product__image {
  object-fit: cover;
  overflow: hidden;
}

.product__wrap {
  height: 25vh;
}

.product__name {
  font-size: 22px;
  font-weight: 500;
  color: #ff6161;
  margin-top: 5vh;
}

.product__more {
  color: #161851;
  font-weight: 500;
  font-size: 22px;
  height: 20vh;
}

.product__link {
  display: block;
  padding: 10px 20%;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6161;
  cursor: pointer;
  max-width: 170px;
  margin: 0 auto;
}

.lSAction>a {
  display: none !important;
}

@media (min-width: $tablet-width) {
  .product__name {
    margin-top: 8vh;
  }

  .product__wrap-item {
    min-height: 300px;
    margin: 30px 100px;
  }

  .product__more {
    height: auto;
  }

  .product__link {
    max-width: 100px;
    margin-top: 5vh;
  }

  .lSAction>a {
    display: block !important;
    margin-left: 136px;
    margin-right: 136px;
  }

  .lSSlideOuter .lSPager.lSpg {
    display: none !important;
  }
}

@media (min-width: $desktop-width) {
  .product__wrap-item {
    min-height: 292px;
    max-width: 954px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 60px;
    box-sizing: border-box;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .product__wrap {
    order: 2;
    float: right;
  }

  .product__more {
    font-size: 34px;
    line-height: 43px;
  }

  .product__wrap-text {
    text-align: left;
  }

  .product__link {
    margin: 0;
    width: 320px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    padding: 14px 25%;
    margin-bottom: 40px;
  }

  .product__name {
    font-size: 34px;
    line-height: 43px;
    margin-top: 0;
  }

  .lSAction>a {
    margin-left: 180px;
    margin-right: 180px;
  }

  .product__image {
    margin-left: 135px;
  }
}
