@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  font-family: "Avenir", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.header {
  background-color: #161851;
  background-attachment: fixed;
  height: 100%; }

.header__wrap {
  padding: 30px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__menu {
  width: 45%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

@media (min-width: 768px) {
  .header__menu {
    max-width: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contact {
    max-width: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1300px) {
  .header__menu {
    max-width: 270px; }
  .header__contact {
    max-width: 600px; }
  .header__wrap {
    max-width: 1300px;
    margin: 0 auto; } }

.contact__social-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33%;
  max-width: 150px;
  display: none; }

.contact__telephone {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff; }

@media (min-width: 768px) {
  .contact__social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__telephone {
    font-size: 16px; } }

@media (min-width: 1300px) {
  .contact__telephone {
    font-size: 18px; } }

@media (min-width: 768px) {
  .menu__logo {
    width: 172px; }
  .menu__hamburger {
    width: 52px;
    height: 42px; } }

.evision {
  background-color: #161851;
  /*background-attachment: fixed;
  height: 100%;
  position: relative;*/
  position: relative;
  height: 100vh;
  background-attachment: fixed; }
  .evision::after {
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url("../img/circle.png");
    width: 744px;
    height: 557px;
    background-color: #1b1d60;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-left: -372px; }

.evision__smart {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  margin: 0;
  padding-top: 40px; }

.evision__list {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .evision__smart {
    font-size: 32px;
    padding-top: 45px; } }

@media (min-width: 1300px) {
  .evision__list {
    margin: 96px auto 0 auto;
    max-width: 790px; }
  .evision__smart {
    padding-top: 116px;
    font-size: 64px;
    line-height: 79px; } }

.skill__word {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0; }

.skill__item {
  text-align: center;
  margin: 0 auto; }
  .skill__item:last-child {
    width: 100%; }

@media (min-width: 768px) {
  .skill__img {
    width: 140px;
    height: 140px; }
  .skill__item:last-child {
    width: auto; }
  .skill__word {
    font-size: 20px; } }

@media (min-width: 1300px) {
  .skill__img {
    width: 225px;
    height: 225px; }
  .skill__word {
    margin-top: 19px;
    font-size: 27px;
    line-height: 65px; } }

.product__item {
  width: 80%; }

.product__wrap-item {
  min-height: 420px;
  margin: 30px 15px;
  border: 1px solid #e8e8ee;
  text-align: center;
  padding: 10px 15px;
  background: navajowhite; }

.product__image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden; }

.product__wrap {
  height: 25vh; }

.product__name {
  font-size: 22px;
  font-weight: 500;
  color: #ff6161;
  margin-top: 5vh; }

.product__more {
  color: #161851;
  font-weight: 500;
  font-size: 22px;
  height: 20vh; }

.product__link {
  display: block;
  padding: 10px 20%;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6161;
  cursor: pointer;
  max-width: 170px;
  margin: 0 auto; }

.lSAction > a {
  display: none !important; }

@media (min-width: 768px) {
  .product__name {
    margin-top: 8vh; }
  .product__wrap-item {
    min-height: 300px;
    margin: 30px 100px; }
  .product__more {
    height: auto; }
  .product__link {
    max-width: 100px;
    margin-top: 5vh; }
  .lSAction > a {
    display: block !important;
    margin-left: 136px;
    margin-right: 136px; }
  .lSSlideOuter .lSPager.lSpg {
    display: none !important; } }

@media (min-width: 1300px) {
  .product__wrap-item {
    min-height: 292px;
    max-width: 954px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 180px;
    margin-bottom: 180px; }
  .product__wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    float: right; }
  .product__more {
    font-size: 34px;
    line-height: 43px; }
  .product__wrap-text {
    text-align: left; }
  .product__link {
    margin: 0;
    width: 320px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    padding: 14px 25%;
    margin-bottom: 40px; }
  .product__name {
    font-size: 34px;
    line-height: 43px;
    margin-top: 0; }
  .lSAction > a {
    margin-left: 180px;
    margin-right: 180px; }
  .product__image {
    margin-left: 135px; } }

.news {
  background: #161851;
  margin: 0 auto;
  border-bottom: 1px solid #5c5d85; }

.news__wrraper {
  background: #161851;
  padding: 50px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.news__help {
  padding: 10px 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.news__header {
  font-weight: 900;
  font-size: 30px;
  color: #ffffff; }

.news__consult {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.7; }

.news__link {
  display: block;
  padding: 10px 20%;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6161;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  max-width: 170px;
  margin-top: 30px; }

@media (min-width: 768px) {
  .news__help {
    padding: 30px 100px; }
  .news__link {
    margin: 0;
    text-align: left;
    margin-top: 34px;
    max-width: 170px; } }

@media (min-width: 1300px) {
  .news__wrraper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 1300px;
    margin: 0 auto;
    position: relative; }
    .news__wrraper::before {
      content: "";
      position: absolute;
      width: 267px;
      height: 379px;
      background-image: url("../img/camera.png");
      top: -265px;
      right: -36px;
      z-index: -1; }
  .news__help {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 30%; }
  .news__carousel {
    width: 60%;
    padding-right: 30px; } }

.carousel_date {
  font-weight: 500;
  font-size: 16px;
  color: #ff6161;
  opacity: 0.7; }

.active .carousel__wrap {
  border: 1px solid #ff6161; }

.carousel__header {
  font-weight: 800;
  font-size: 22px;
  color: #ffffff; }

.carousel__about {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
  max-height: 90px;
  text-overflow: ellipsis;
  overflow: hidden; }

.carousel__link {
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.12em;
  color: #ff6161; }

.carousel__wrap {
  border: 1px solid #ffffff;
  margin: 15px 20px;
  padding: 10px 10px;
  min-height: 314px; }

.news .lSPager.lSpg {
  display: none !important; }

@media (min-width: 768px) {
  /*.carousel__wrap {
    margin: 30px 100px;
  }*/ }

@media (min-width: 1300px) {
  .carousel__wrap {
    margin: 0; } }

.footer {
  background: #161851;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__main,
.footer__blog,
.footer__buy,
.footer__about {
  display: none; }

.footer__wrap-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__logo-img {
  margin: 0 auto;
  display: block; }

.footer__telephone,
.footer__mail {
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  display: block;
  margin-top: 10px; }

.footer__rights {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 20px; }

.footer__wrap-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  margin-top: 20px; }

@media (min-width: 768px) {
  .footer__main,
  .footer__blog,
  .footer__buy,
  .footer__about {
    display: block;
    font-weight: 800;
    color: #ffffff;
    font-size: 16px; }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .footer__wrap-desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 100px; }
  .footer__wrap-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__rights {
    -webkit-box-ordinal-group: none;
        -ms-flex-order: none;
            order: none; } }

/*# sourceMappingURL=style.css.map */
